/* top_nav_bar */
.top_nav_bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #233142;          
}
.top_nav_bar a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}
.top_nav_bar a:hover {
  background: #455d7a;
}
  
@media all and (min-width: 801px) {
  .left {
    margin-right: auto;
  }
  .right {
    margin-left: 0;
  }
}
  
/* style for meduim screen */
@media all and (max-width: 800px) {
  .top_nav_bar {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0;
  }
}
  
/* style for small screen */
@media all and (max-width: 600px) {
  .top_nav_bar .large_only {
    display: none;
  }
}